<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: black;">
	<div>
		<div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
			<div class="card-body">
				<h5 class="card-title">Exito</h5>
				<p class="card-text" th:text="${exito}"></p>
			</div>
		</div>
		<div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
			<div class="card-body">
				<h5 class="card-title">Error</h5>
				<p class="card-text" th:text="${error}"></p>
			</div>
		</div>
	</div>
    
    <div class="container form-control divP" style="background-color: gray;">
        <label>Registros de Editoriales</label>
    </div>
    <div class="container form-control divP" style="background-color: gray;">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
	        <div class="container form-control divP" style="background-color: black;">
	        	<form th:action="@{/editoriales/editorial-from/}" th:object="${editorial}" method="post">
	        	<input type="hidden" name="id" id="id" th:field="*{id}">
	        		<div class="row g-3 align-items-center">
	        			<div class="col-auto">
	        				<div class="row g-3 align-items-center">
	        					<div class="col-auto">
	        						<label style="color: white;">Nombre:</label>
	        					</div>
	        					<div class="col-auto">
	        						<input type="text" class="form-control" name="nombre" th:field="*{nombre}">
	        					</div>
	        				</div>        				
	        			</div>
	        			<div class="col-auto">
	        				<div class="row g-3 align-items-center">
	        					<div class="col-auto">
	        						<label style="color: white;">Alta:</label>
	        					</div>
	        					<div class="col-auto">
				        			<select class="form-control" name="alta" th:field="*{alta}">
			                        	<option th:if="${editorial.alta == 'true'}" value="true">True</option>
					        			<option th:unless="${editorial.alta == 'false'}" value="false">False</option>
					        			<option th:if="${editorial.alta == 'false'}" value="false">False</option>
					        			<option th:unless="${editorial.alta == 'true'}" value="true">True</option>
					        		</select>
	        						<!-- <input type="text" class="form-control" name="alta" th:field="*{alta}"> -->
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-auto">
	        				<input type="submit" class="btn btn-primary me-md-2" value="Agregar">
	        			</div>
	        		</div>
	        	</form>
	        </div>
	    </div>
	    <div class="container form-control divP d-grid gap-2 d-md-flex justify-content-md-end" style="background-color: black;">
        	<a href="/editoriales/" class="btn btn-primary me-md-2">Volver</a>
    	</div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>